{% extends 'core/base.html' %}

 
{% block content %}
<div class="max-w-7xl mx-auto">
        {% if user.is_authenticated %}
           
        <h3>Bienvenido a mi sistema</h3>
        

    {% else %}
        <div class="flex flex-col items-center justify-center py-20">
            <h2 class="text-4xl font-black text-slate-900">Acceso Privado</h2>
            <p class="text-slate-500 mt-4 mb-8">Debe iniciar sesión para ver el Dashboard operativo.</p>
            <a href="{% url 'login' %}" class="bg-blue-600 text-white px-8 py-4 rounded-2xl font-bold shadow-xl shadow-blue-200">Ingresar al Sistema</a>
        </div>
    {% endif %}
    </div>

</div>
{% endblock %}